body.loading{
    overflow: hidden;
    cursor: progress;
}

.container {
    padding: 5rem calc(var(--bs-gutter-x) * .5);
}

.form-control{
    font-size: .8rem;
    padding: .375rem 0.4rem;
}

.storages{
    text-align: center;
    text-transform: uppercase;
}

.img-cropper #image {
    max-height: 100vh;
    aspect-ratio: 16/9;
}

#user-logged {
    padding: 5px 15px 6px;
    background: #d6f3d1;
    /* border-radius: 10px; */
    position: absolute;
    /* top: 10px; */
    left: 50%;
    transform: translateX(-50%);
    color: #5d9e52;
    font-size: 0.7rem;
    display: block;
    width: 100%;
    text-align: center;
}

#loading-frame {
    background: #000000;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    opacity: .8;
    overflow: hidden;
}

.row-producto {
    margin-bottom: .5rem !important;
    padding: 10px 0;
    background: #f4f4f4;
    border-radius: .375rem;
    margin: 0 1px;
}

.row-producto .with-label{
    display: flex;
    align-items: center;
}

.row-producto .with-label label{
    margin-right: .5rem;
    font-weight: bold;
}

#img-result{
    position: fixed;
    z-index: 1;
    top: 2rem;
    width: 80vw;
    padding: 1rem;
    background: #d6f3d1;
    border-radius: .375rem;
    opacity: 0.9;
}