{% include "grocery/head.html" %}
<div class="container">
    <form action="{% url 'grocery:store' storage.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>
                <h1>{{ storage.name }}</h1>
            </legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            <div class="row mb-4">

                <div class="col-md-6">
                    <label for="name" class="form-label">Nou producte</label>
                    <input id="name" class="form-control" type="text" name="name" maxlength="100" required />
                </div>

                <div class="col-md-3">
                    <label for="amount" class="form-label">Quantitat</label>
                    <input id="amount" class="form-control" type="number" name="amount" />
                </div>

                <div class="col-md-3">
                    <label for="unit" class="form-label">&nbsp;</label>
                    <select title="Unitat" id="unit" class="form-control" name="unit">
                        {% for unit in unit_choices %}
                        <option value="{{unit.0}}">{{unit.1}}</option>
                        {% endfor %}
                    </select>
                </div>

            </div>

        </fieldset>
        <input type="submit" class="btn btn-sm btn-success" value="Afegeix producte" />
        <a class="btn btn-sm btn-primary" href="{% url 'grocery:ticket' storage.id %}" type="btn">Nou tiquet</a>
    </form>

    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ítem</th>
                <th>Quantitat</th>
                <th>Unitats</th>
            </tr>
        </thead>
        <tbody>
            {% for item in storage.item_set.all reversed %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.get_unit_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% include "grocery/foot.html" %}