{% load static %}
<script src="{% static 'grocery/js/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'grocery/js/popper.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'grocery/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'grocery/js/fa-all.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'grocery/js/cropper.js' %}"></script>
<script src="{% static 'grocery/js/jquery-cropper.min.js' %}"></script>
</body>

</html>