<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'grocery/css/bootstrap.min.css' %}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'grocery/css/fa-all.min.css' %}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'grocery/css/cropper.css' %}">
    <link rel="stylesheet" href="{% static 'grocery/css/style.css' %}">
</head>

<body>

    <span id="user-logged"><i class="fa fa-user-circle"></i> {{request.user.username}}</span>