{% include "grocery/head.html" %}

<div class="container">
<form id="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <input id="inputImage" name="ticket" type="file" accept="image/*" />
        <input type="submit" value="Envia" />
    </div>
    <label id="error" class="text-danger"></label>
    <textarea id="result" class="d-none"></textarea>
</form>

<div class="img-container img-cropper">
    <img id="image" />
</div>
</div>

{% include "grocery/foot.html" %}

