{% load static %}

<link rel="stylesheet" href="{% static 'grocery/css/crop-select-js.min.css' %}">
<link rel="stylesheet" href="{% static 'grocery/css/style.css' %}">

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input id="ticket" name="ticket" type="file" required accept="image/jpeg,image/png,image/jpg" />
    <input type="submit" value="Envia" />
    <div id="crop-select" style="max-height: 100vh;"></div>

</form>


<script src="{% static 'grocery/js/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'grocery/js/crop-select-js.min.js' %}"></script>
<script>
    $(function () {

        // Initialise CropSelect
        $('#crop-select').CropSelectJs();


        // Handle file select change
        $('#ticket').on('change', function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#crop-select').CropSelectJs('setImageSrc', e.target.result);
                };
                reader.readAsDataURL(this.files[0]);
            }
        });


    });
</script>